.containerModal,
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerModal {
    position: fixed;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    /* justify-content: center; */
    z-index: 5;
    padding-left: 1rem;
    padding-right: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    max-width: 600px;
    width: 100%;
}

.create,
.read,
.noteEdit {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.create,
.read {
    max-width: 600px;
}

.noteEdit {
    max-width: 800px;
}


.create {
    box-shadow: 0 2px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.noteEdit,
.read {
    box-shadow: 0 2px 2px rgba(0.1, 0.1, 0.1, 0.1);
}

.create,
.read {
    max-height: 420px;
}

.noteEdit {
    max-height: 100%;
}

.infoContainerRead {
    overflow-y: hidden;
}

.infoContainer {
    overflow-y: auto;
}

.create:focus,
.read:focus,
.noteEdit:focus {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* outline: none; */
    /* border: none; */
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.create:hover,
.read:hover,
.noteEdit:hover {
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}

.projectEdit {
    width: 100%;
    height: 100%;
    background-color: white;
}

.projectHeader {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.projectHeaderLeading {
    background-color: yellow;
    width: 100%;
    max-width: 600px;
}

.projectHeaderTrailing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.footerWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footerContainer,
.footerContainerRead {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerLeading {
    display: flex;
    flex-direction: row;
}

.noteOptionsMenu {
    background-color: 'white';
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    display: flex;
    flex-direction: column;
    top: 44px;
    position: absolute;
    z-index: 4;
}

.menuItem {
    padding: 1rem;
    background-color: inherit;
    align-items: center;
    color: inherit;
}

.menuItem:hover {
    background-color: gray;
}

@media (prefers-color-scheme: dark) {

    .create,
    .read,
    .noteEdit
    .noteOptionsMenu {
        background-color: #121212;
    }

    .noteOptionsMenu {
        border: 0.5px solid gray;
    }
}