.containerModal,
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerModal {
    position: fixed;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding-left: 1rem;
    padding-right: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.25s;
}

.container {
    max-width: 600px;
    width: 100%;
}

.create,
.read,
.noteEdit {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create,
.read {
    max-width: 600px;
}

.noteEdit {
    max-width: 600px;
}

.create {
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.noteEdit,
.read {
    box-shadow: 0 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}

.create,
.read {
    max-height: 420px;
}

.noteEdit {
    max-height: 100%;
}

.infoContainerRead {
    overflow-y: hidden;
}

.infoContainer {
    overflow-y: auto;
}

.create:focus,
.read:focus,
.noteEdit:focus {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}

.create:hover,
.read:hover,
.noteEdit:hover {
    /* box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1); */
}

.footerWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.footerContainer,
.footerContainerRead {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerLeading {
    display: flex;
    flex-direction: row;
}

.anchor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu,
.backgroundMenu {
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    background-color: white;
    display: flex;
    top: 44px;
    position: absolute;
    z-index: 6;
}

.menu {
    flex-direction: column;
}

.backgroundMenu {
    padding: 0.5rem;
    flex-direction: row;
}

@media (prefers-color-scheme: dark) {
    .create,
    .read,
    .noteEdit {
        /* background-color: #121212; */
        border: 0.5px solid gray;
    }

    .backgroundMenu,
    .menu,
    .menuItem {
        background-color: #121212;
        border: 0.5px solid gray;
    }
}