.containerModalAccount,
.containerModalLogin {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 1s ease;
}

.containerModalAccount {
    background-color: rgba(0, 0, 0, 0.7);

}

.containerModalLogin {
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .containerModalLogin {
        background-color: #121212;
    }
}
    
        
.containerAccount,
.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 6;
}

.containerAccount {
    max-width: 600px;
}

.containerLogin {
    max-width: 800px;
    gap: 1rem;
}

.closeButtonContainer {
    position: fixed;
    display: flex;
    top: 0;
    right: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    height: 4rem;
    align-items: center;
}

.formContainerLogin,
.formContainerLoginHelp {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.formContainerLogin {
    flex-direction: row;
    justify-content: space-between;
}

.formContainerLoginHelp {
    flex-direction: column;
}

.dividerContainer {
    display: flex;
    height: 100%;
}

.dividerContainerMobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .formContainerLogin {
        flex-direction: column;
    }

    .dividerContainer {
        display: none;
    }

    .dividerContainerMobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
    }
}

.formAccount,
.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.formAccountContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}



.textButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textButton {
    color: inherit;
    border-radius: 0px;
}

.textError {
    color: red;
    font-size: small;
}

.textTerms {
    color: gray;
    font-size: small;
}