.page,
.pageAccount,
.pageLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.page h2 {
  cursor: default;
}

.page,
.pageAccount {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pageAccount {
  text-align: center;
}

.pageLogin {
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.wrapperAccount,
.wrapperLogin,
.wrapperModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.wrapperLogin {
  justify-content: center;
  max-width: 800px;
}

.wrapperAccount {
  max-width: 600px;
}

.wrapperLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  padding: 1rem;
}

.containerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.containerItem p {
  font-size: large;
}

.divider {
  display: flex;
}

.dividerMobile {
  display: none;
}

.login,
.loginHelp {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.loginHelp {
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.textError {
  color: red;
  font-size: small;
}

.textTerms {
  text-align: center;
}

.textButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pinnedTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
}

.switchContainer {
  position: absolute;
  top: 0;
  height: 4rem;
  right: 1rem;
  display: flex;
  align-items: center;
}

.spacer {
  height: 1rem;
}

@media (prefers-color-scheme: dark) {
  .modal {
    background-color: #121212;
  }

}

@media screen and (max-width: 768px) {
  .divider {
    display: none;
  }

  .pinnedTextContainer {
    width: 100%;
    max-width: 600px;
  }

  .dividerMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .login {
    align-items: center;
    flex-direction: column;
  }

  .pageLogin {
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: auto;
    justify-content: flex-start;
  }
}