.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pageTitle {
  padding: 1rem;
  text-align: center;
}

.pageTitle p {
  font-size: x-large;
  font-weight: lighter;
}

.pageText {
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.accountContainer,
.helpContainer {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;

}

.helpHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.helpContainer {
  gap: 1rem;
}

.accountContainer {
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.accountContainerHeader,
.accountContainerItem {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.accountContainerItem {
  box-shadow: 0 -0.5px 0.5px rgba(0.1, 0.1, 0.1, 0.1);
}


.accountContainerItem:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.accountContainerItemLeading,
.accountContainerItemTrailing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accountContainerItemLeading {
  width: 224px;
}

.accountContainerItemTrailing {
  width: 100%;
  justify-content: space-between;
}

.loginContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.formButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background-color: black
}

.formButton:disabled {
  background-color: #f0f0f0;
  color: darkgrey;
  border: none;
  cursor: not-allowed;
}

.formButton:active {
  background-color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.input,
.visiblityInput {
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: none;
  border: none;
  border-bottom: 0.5px solid lightgrey;
  background-color: inherit;
  color: black;
  width: 100%;
}

.input::placeholder,
.visiblityInput::placeholder {
  color: gray;
}

.input:focus,
.visiblityInput:focus {
  border-bottom: 0.5px solid black;
}

.visiblityInput {
  padding-right: 2rem;
}

.visiblityIcon {
  position: absolute;
  right: 0;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.providerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
  outline: none;
  border: 0.5px solid #000;
  justify-content: space-between;
  transition: background-color 0.3s, transform 0.1s;
}

.providerButton div {
  width: 100%;
}

.providerButton:hover {
  background-color: #f0f0f0;
}

.providerButton:active {
  background-color: #e0e0e0;
  transform: scale(0.98);
}

.textButtonContainer {
  display: flex;
  flex-direction: column;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.noteContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spacer {
  height: 1rem;
}

.containerModalAccount {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 1s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.containerAccount,
.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.containerAccount {
  max-width: 600px;
    z-index: 6;
}

.containerLogin {
  max-width: 800px;
  gap: 1rem;
}

.closeButtonContainer {
  position: absolute;
  display: flex;
  top: 0;
  right: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  height: 4rem;
  align-items: center;
}

.formContainerLogin,
.formContainerLoginHelp {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  width: 100%;
  /* background-color: pink */
}

.formContainerLogin {
  /* flex-direction: row; */

  /* justify-content: space-between; */
}

.formContainerLoginHelp {
  flex-direction: column;
}

.formAccount,
.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  gap: 1rem;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
}

.formAccountContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.textButton {
  border: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  border-radius: 0px;
}

.textError {
  color: red;
  font-size: small;
}

.textTerms {
  color: gray;
  font-size: small;
}

.divider {
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: antiquewhite; */
  justify-content: center;
}

.dividerMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .formContainerLogin {
    align-items: center;
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .dividerMobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
}